<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      .hidden {
        visibility: hidden;
        position: absolute;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5" >
      <h1>Swan Manager</h1>

      <ul class="nav nav-tabs" id="navTabs">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="#"
            onclick="showTab('tab1')"
            >Active</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="showTab('tab2');">Commands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="showTab('tab3')">Sessions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="showTab('tab4')">Messages</a>
        </li>
      </ul>

      <div id="tab1" class="tab-content mt-4">
        <div class="row">
          <div class="col-md-4">
            <h2>Swan Devices</h2>
            <form id="addSwanForm">
              <div class="mb-3">
                <label for="imei" class="form-label">IMEI</label>
                <input
                  type="text"
                  class="form-control"
                  id="imei"
                  name="imei"
                  placeholder="Enter IMEI"
                />
              </div>
              <button type="submit" class="btn btn-primary">Add Swan</button>
            </form>
            <div id="responseMessage" class="mt-3"></div>

            <table
              class="table table-striped mt-4"
            >
              <thead>
                <tr>
                  <th>IMEI</th>
                  <th>Timezone</th>
                </tr>
              </thead>
              <tbody id="swanDevicesTableBody"></tbody>
            </table>
          </div>
          <div class="col-md-8">
            <h2>Device Info</h2>
            <div id="deviceInfo">
              <p>Select a device to see its details.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="tab2" class="tab-content mt-4 hidden">
        <div class="row">
          <div class="col-md-4">
            <h2>Commands to Swan</h2>
            <table
              class="table table-striped mt-4"
              style="max-height: 400px; overflow-y: auto"
            >
              <thead>
                <tr>
                  <th>Command ID</th>
                  <th>Detail</th>
                </tr>
              </thead>
              <tbody id="commandToSwanTableBody"></tbody>
            </table>
          </div>
          <div class="col-md-8">
            <h2>Command Info</h2>
            <div id="commandInfo">
              <p>Select a command to see its details.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="tab3" class="tab-content mt-4 hidden">
        <div class="row">
          <div class="col-md-4">
            <h2>Sessions</h2>
            <table
              class="table table-striped mt-4"
              style="max-height: 400px; overflow-y: auto"
            >
              <thead>
                <tr>
                  <th>Session ID</th>
                  <th>Detail</th>
                </tr>
              </thead>
              <tbody id="sessionsTableBody"></tbody>
            </table>
          </div>
          <div class="col-md-8">
            <h2>Session Info</h2>
            <div id="sessionInfo">
              <p>Select a session to see its details.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="tab4" class="tab-content mt-4 hidden">
        <div class="row">
          <div class="col-md-4">
            <h2>Messages</h2>
            <table
              class="table table-striped mt-4"
              style="max-height: 400px; overflow-y: auto"
            >
              <thead>
                <tr>
                  <th>Message ID</th>
                  <th>Detail</th>
                </tr>
              </thead>
                <tbody id="messagesTableBody" style="max-height: 400px; overflow-y: auto;"></tbody>
            </table>
          </div>
          <div class="col-md-8">
            <h2>Message Info</h2>
            <div id="messageInfo">
              <p>Select a message to see its details.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      // Shared variables
      let data_types = {
        device_tag: "string",
        nb1_plmn: "string",
        nb1_bands: "string",
        nb1_apn: "string",
        nb1_psm: "integer",
        nb1_psm_activetime: "integer",
        nb1_psm_tau: "integer",
        nb1_rai: "integer",
        nb1_apn_account_index: "integer",
        ntp_server: "string",
        ntp_port: "integer",
        ntp_auto_sync: "integer",
        timezone: "integer",
        daylightsaving_enable: "integer",
        upload_server: "string",
        upload_remote_port: "integer",
        upload_local_port: "integer",
        upload_proto: "integer",
        upload_method: "integer",
        upload_account_index: "integer",
        upload_format: "integer",
        upload_format_spec_1: "hexadecimal",
        upload_format_spec_2: "hexadecimal",
        upload_format_spec_3: "hexadecimal",
        upload_retries: "integer",
        upload_months: "integer",
        upload_days: "integer",
        upload_weeks: "integer",
        upload_week_days: "integer",
        upload_start_hour: "integer",
        upload_start_minute: "integer",
        upload_hours: "integer",
        upload_per_hour: "integer",
        upload_jitter: "integer",
        lwm2m_idle_time: "integer",
        lwm2m_notify_with_ack: "integer",
        lwm2m_notify_retry_cnt: "integer",
        lwm2m_notify_timeout: "integer",
        lwm2m_lifetime: "integer",
        collect_mode: "integer",
        collect_rssi_min: "integer",
        collect_rssi_max: "integer",
        collect_use_dll: "integer",
        collect_max_num_meters: "integer",
        collect_duration: "integer",
        collect_flags: "integer",
        collect_datalog_flags: "integer",
        collect_months: "integer",
        collect_days: "integer",
        collect_weeks: "integer",
        collect_week_days: "integer",
        collect_start_hour: "integer",
        collect_start_minute: "integer",
        collect_hours: "integer",
        collect_per_hour: "integer",
        collect_jitter: "integer",
        upload_after_collect: "integer",
        collect_tele_age: "integer",
        collect_tele_age_2: "integer",
        collect_mode_2: "integer",
        collect_rssi_min_2: "integer",
        collect_rssi_max_2: "integer",
        collect_use_dll_2: "integer",
        collect_max_num_meters_2: "integer",
        collect_duration_2: "integer",
        collect_flags_2: "integer",
        collect_datalog_flags_2: "integer",
        collect_months_2: "integer",
        collect_days_2: "integer",
        collect_weeks_2: "integer",
        collect_week_days_2: "integer",
        collect_start_hour_2: "integer",
        collect_start_minute_2: "integer",
        collect_hours_2: "integer",
        collect_per_hour_2: "integer",
        collect_jitter_2: "integer",
        upload_after_collect_2: "integer",
        quietmode: "integer",
        nfc_fast_install: "integer",
        uart_sci: "integer",
        ci_field_blacklist: "integer",
        autostart: "integer",
        clear_status_after_ul: "integer",
        prefilter_devicetype: "string",
        prefilter_manufacturer: "string",
        sync_rx: "integer",
        sync_rx_duration: "integer",
        sync_rx_interval: "integer",
        sync_rx_storage: "integer",
        sync_rx_max_time_gap: "integer",
        sync_rx_meter: "string",
        sync_rx_flags: "integer",
        sync_rx_offset: "integer",
        sync_rx_rssi_min: "integer",
        upload_alarm_mask: "integer",
        upload_alarm_interval: "integer",
      };

      let _devices = [];
      let _commands = [];
      let _selectedImei = null;
      let _originalDeviceData = null;

      function showTab(tabId) {
        // Hide all tab contents
        const tabContents = document.querySelectorAll(".tab-content");
        tabContents.forEach((tabContent) => {
          tabContent.classList.add("hidden");
        });

        // Remove active class from all tabs
        const tabs = document.querySelectorAll(".nav-link");
        tabs.forEach((tab) => {
          tab.classList.remove("active");
        });

        // Show the selected tab content
        document.getElementById(tabId).classList.remove("hidden");

        // Add active class to the selected tab
        const activeTab = document.querySelector(`a[href="#${tabId}"]`);
        if (activeTab) {
          activeTab.classList.add("active");
        }
      }

      // Initialize the first tab as active
      document.addEventListener("DOMContentLoaded", () => {
        showTab("tab1");
      });

      document
        .getElementById("addSwanForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          const imei = document.getElementById("imei").value;
          axios
            .get(`/add/swan/${imei}`)
            .then((response) => {
              document.getElementById("responseMessage").innerText =
                "Swan device added successfully!";
              fetchSwanDevices();
            })
            .catch((error) => {
              document.getElementById("responseMessage").innerText =
                "Error adding Swan device.";
            });
        });

      function fetchSwanDevices() {
        axios
          .get("/get_swan_devices")
          .then((response) => {
            const devices = response.data;
            _devices = devices;
            const tableBody = document.getElementById("swanDevicesTableBody");
            tableBody.innerHTML = "";
            devices.forEach((device) => {
              const dynamicKey = Object.keys(device)[0]; // Get the dynamic key
              const deviceData = device[dynamicKey]; // Access the nested dictionary
              const row = document.createElement("tr");
              row.addEventListener("click", () => {
                highlightRow(row);
                displayDeviceInfo(device);
              });
              const imeiCell = document.createElement("td");
              imeiCell.innerText = dynamicKey; // Display the dynamic key (IMEI)
              const timezoneCell = document.createElement("td");
              timezoneCell.innerText = deviceData.timezone; // Display the timezone
              row.appendChild(imeiCell);
              row.appendChild(timezoneCell);
              tableBody.appendChild(row);
            });
          })
          .catch((error) => {
            console.error("Error fetching Swan devices:", error);
          });
      }

      function highlightRow(row) {
        // Remove highlight from any previously highlighted row
        const previouslyHighlightedRow = document.querySelector(".highlighted");
        if (previouslyHighlightedRow) {
          previouslyHighlightedRow.classList.remove("highlighted");
        }
        // Add highlight to the clicked row
        row.classList.add("highlighted");
      }

      function displayDeviceInfo(device) {
        const dynamicKey = Object.keys(device)[0]; // Get the dynamic key
        _selectedImei = dynamicKey;

        const deviceData = device[dynamicKey]; // Access the nested dictionary

        const deviceInfoDiv = document.getElementById("deviceInfo");
        let formHtml = `<button type="button" class="btn btn-danger" onclick="deleteSwanDevice()">Delete</button>`

        formHtml += `<form id="deviceInfoForm" style="overflow-y: scroll; max-height: 65vh;">`;

        _originalDeviceData = deviceData;

        for (const key in deviceData) {
          if (deviceData.hasOwnProperty(key)) {
            const value = deviceData[key];
            readOnlyKeys = [
              "imei",
              "upload_server",
              "upload_remote_port",
              "upload_method",
              "utp_server",
              "utp_port",
              "upload_format_spec_1",
              "upload_format_spec_2",
              "upload_format_spec_3"
            ];
            const readonly = readOnlyKeys.includes(key.toLowerCase())
              ? "readonly"
              : ""; // Make IMEI field readonly
            formHtml += `
                <div class="mb-3">
                    <label for="${key}" class="form-label"><strong>${key}:</strong></label>
                    <input type="${
                      typeof value === "number" ? "number" : "text"
                    }" class="form-control" id="${key}" name="${key}" value="${value}" ${readonly}>
                </div>
            `;
          }
        }

        formHtml += `
        <button type="button" class="btn btn-primary" onclick="saveDeviceInfo()">Save</button>
    </form>`;
        deviceInfoDiv.innerHTML = formHtml;
      }

      function deleteSwanDevice() {
        const imei = _selectedImei;
        // Show confirmation popup
        if (confirm("Are you sure you want to delete this Swan device?")) {
          axios
        .get(`/delete/swan/${imei}`)
        .then((response) => {
          // Handle the response from the server
          fetchSwanDevices();
        })
        .catch((error) => {
          console.error("Error deleting Swan device:", error);
        });

          const deviceInfoDiv = document.getElementById("deviceInfo");
          deviceInfoDiv.innerHTML = '<p>Select a device to see its details.</p>';
        }
      }

      function saveDeviceInfo() {
        const form = document.getElementById("deviceInfoForm");
        const formData = new FormData(form);
        const deviceData = {};
        formData.forEach((value, key) => {
          // Check if the value is an integer
          if (data_types[key] === "integer") {
            value = parseInt(value);
          } else if (data_types[key] === "hexadecimal") {
            value = parseInt(value, 16);
          } else {
            value = String(value);
          }

          console.log(_originalDeviceData[key], value);
          if (_originalDeviceData[key] !== value && !key.startsWith("upload_format_spec_")) {
            deviceData[key] = value;
          }
        });
        console.log(JSON.stringify(deviceData));
        console.log(_selectedImei);
        const imei = _selectedImei;
        axios
          .post(`/add/command_to_swan/${imei}`, deviceData)
          .then((response) => {
            // Handle the response from the server
          })
          .catch((error) => {
            console.error("Error sending JSON data:", error);
          });

        // You can now send this JSON object to your server or use it as needed
      }

      function fetchCommandToSwan() {
        axios
          .get("/get_command_to_swan")
          .then((response) => {
            const commands = response.data;
            _commands = commands;
            const tableBody = document.getElementById("commandToSwanTableBody");
            tableBody.innerHTML = "";
            commands.forEach((command) => {
              const dynamicKey = Object.keys(command)[0]; // Get the dynamic key
              const commandData = command[dynamicKey]; // Access the nested dictionary
              const row = document.createElement("tr");
              row.addEventListener("click", () => {
                highlightRow(row);
                displayCommandInfo(command);
              });
              const commandIdCell = document.createElement("td");
              commandIdCell.innerText = dynamicKey; // Display the dynamic key (Command ID)
              const commandDetailCell = document.createElement("td");
              commandDetailCell.innerText = commandData.detail; // Display the command detail
              row.appendChild(commandIdCell);
              row.appendChild(commandDetailCell);
              tableBody.appendChild(row);
            });
          })
          .catch((error) => {
            console.error("Error fetching commands to Swan:", error);
          });
      }

      function displayCommandInfo(command) {
        const dynamicKey = Object.keys(command)[0]; // Get the dynamic key
        const commandData = command[dynamicKey]; // Access the nested dictionary

        const commandInfoDiv = document.getElementById("commandInfo");
        let formHtml = '<form id="commandInfoForm">';

        // Find the current device configuration using the IMEI value
        const imei = dynamicKey.substring(7);
        const currentDevice = _devices.find(
          (device) => Object.keys(device)[0] === imei
        );

        const currentDeviceData = currentDevice[Object.keys(currentDevice)[0]];
        console.log(imei);
        console.log(currentDeviceData);

        for (const key in commandData) {
          if (commandData.hasOwnProperty(key)) {
            const value = commandData[key];
            console.log(value);
            const currentValue = currentDeviceData
              ? currentDeviceData[key]
              : null;
            console.log(currentValue);
            const isUpdated =
              String(currentValue).trim().toLowerCase() !==
              String(value).trim().toLowerCase();
            console.log(isUpdated);

            formHtml += `
              <div class="mb-3">
                <label for="${key}" class="form-label"><strong>${
              key.charAt(0).toUpperCase() + key.slice(1)
            }:</strong></label>
                <p class="form-control-plaintext" id="${key}" name="${key}" style="color: ${
              isUpdated ? "red" : "black"
            };">
                  ${value}${isUpdated ? ` (Current: ${currentValue})` : ""}
                </p>
              </div>
            `;
          }
        }

        formHtml += `</form>`;
        commandInfoDiv.innerHTML = formHtml;
      }

      function saveCommandInfo() {
        const form = document.getElementById("commandInfoForm");
        const formData = new FormData(form);
        const commandData = {};
        formData.forEach((value, key) => {
          commandData[key] = value;
        });
        console.log(JSON.stringify(commandData));
        // You can now send this JSON object to your server or use it as needed
      }

      function highlightRow(row) {
        const rows = row.parentElement.children;
        for (let i = 0; i < rows.length; i++) {
          rows[i].classList.remove("table-active");
        }
        row.classList.add("table-active");
      }

      function fetchSessions() {
        axios
          .get("/get_sessions")
          .then((response) => {
            const sessions = response.data;
            const tableBody = document.getElementById("sessionsTableBody");
            tableBody.innerHTML = "";
            sessions.forEach((session) => {
              const dynamicKey = Object.keys(session)[0]; // Get the dynamic key
              const sessionData = session[dynamicKey]; // Access the nested dictionary
              const row = document.createElement("tr");
              row.addEventListener("click", () => {
                highlightRow(row);
                displaySessionInfo(sessionData);
              });
              const sessionIdCell = document.createElement("td");
              sessionIdCell.innerText = dynamicKey; // Display the dynamic key (Session ID)
              const sessionDetailCell = document.createElement("td");
              sessionDetailCell.innerText = sessionData.detail; // Display the session detail
              row.appendChild(sessionIdCell);
              row.appendChild(sessionDetailCell);
              tableBody.appendChild(row);
            });
          })
          .catch((error) => {
            console.error("Error fetching sessions:", error);
          });
      }

      function displaySessionInfo(sessionData) {
        const sessionInfoDiv = document.getElementById("sessionInfo");
        let infoHtml = '<div id="sessionInfoDetails">';

        for (const key in sessionData) {
          if (sessionData.hasOwnProperty(key)) {
            const value = sessionData[key];
            infoHtml += `
                    <div class="mb-3">
                        <label class="form-label"><strong>${
                          key.charAt(0).toUpperCase() + key.slice(1)
                        }:</strong></label>
                        <p>${value}</p>
                    </div>
                `;
          }
        }

        infoHtml += "</div>";
        sessionInfoDiv.innerHTML = infoHtml;
      }

      function highlightRow(row) {
        const rows = row.parentElement.children;
        for (let i = 0; i < rows.length; i++) {
          rows[i].classList.remove("table-active");
        }
        row.classList.add("table-active");
      }

      function fetchMessages() {
        fetch("/swan")
          .then((response) => response.json())
          .then((data) => {
            populateMessagesTable(data);
          })
          .catch((error) => console.error("Error fetching messages:", error));
      }

      function populateMessagesTable(messages) {
        const messagesTableBody = document.getElementById("messagesTableBody");
        messagesTableBody.innerHTML = "";

        messages.forEach((message) => {
          const row = document.createElement("tr");
          const primaryKey = Object.keys(message)[0];
          messageData = message[primaryKey];
          row.innerHTML = `
        <td>${messageData.id}</td>
        <td>${messageData.detail}</td>
      `;
          row.addEventListener("click", () => displayMessageInfo(message));
          messagesTableBody.appendChild(row);
        });
      }

      function displayMessageInfo(message) {
        const messageInfoDiv = document.getElementById("messageInfo");
        let infoHtml = '<form id="messageInfoForm">';

        for (const key in message) {
          if (message.hasOwnProperty(key)) {
            const value = message[key];
            infoHtml += `
          <div class="mb-3">
            <label for="${key}" class="form-label"><strong>${key}:</strong></label>
            <p class="form-control-plaintext" id="${key}" name="${key}">${JSON.stringify(
              value
            )}</p>
          </div>
        `;
          }
        }

        infoHtml += `</form>`;
        messageInfoDiv.innerHTML = infoHtml;
      }

      // Initialize the sessions table when the page loads
      document.addEventListener("DOMContentLoaded", () => {
        // Fetch Swan devices on page load
        fetchSwanDevices();
        fetchCommandToSwan();
        fetchMessages();
        fetchSessions();
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
